{% extends 'blog/base.html' %}

{% block content %}
	<!-- My search bar-->
	<div class="form-group">
		<form method="get">
		{{my_filter.form}}
		<button class="btn btn-dark" type="submit">Search</button>
	</form>
  	</div>

	<br>
	<div class="card bg-light">
		<div class="card-body">
	<!-- actual table of laptops -->
	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	    <!-- Header tags -->
	      <th scope="col">Serial Number</th>
	      <th scope="col">Model</th>
	      <th scope="col">Status</th>
	      <th scope="col">Battery %</th>
	      <th scope="col"><a href="{% url 'create_laptop_view' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Add New</a></th>
	    </tr>
	  </thead>
	  <tbody id="myTable">
	  	<!-- For loop to scrape database and display each individual laptop -->
	  	{% for laptop in laptops %}
	  	<tr>
	      <th scope="row"><a href="{% url 'update' laptop.id %}">{{laptop.cbhs_code}}</a></th>
	      <td>{{laptop.model}}</td>
	      <td>{{laptop.status}}</td>
	      <td>{{laptop.battery_tested}}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
</div><!-- end card -->

	<script>
		$(document).ready(function(){
		  $("#searchBar").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>
{% endblock %}